# folders
data/raw
data/mrio*
data/ee*
documents
readings
codes/__pycache__
codes/draft*

*Rproj
.Rhistory
.Rproj.user

.DS_store

# environments
.env
.venv

# distribution
lib/
bin/

# others
eemrio/pyvenv.cfg
eemrio/share/man/man1/ttx.1
